<div class="big-banner ">
	<ul>
        <li>
        	<a href="#"><img class="img-thumbnail" src="/images/slides/01.jpg"></a>
			<h3>$120</h3>
        </li>
        <li><a href="#"><img class="img-thumbnail" src="/images/slides/02.jpg"></a><h3>$110</h3></li>
        <li><img class="img-thumbnail" src="/images/slides/03.jpg"><h3>$80</h3></li>
        <li><img class="img-thumbnail" src="/images/slides/04.jpg"><h3>$80</h3></li>

    </ul>
</div>