<nav class="globale-nav navbar navbar-fixed-top">
<div class="container">
    <div class="navbar-header">
		<%= logo %>
	</div>
	<p class="navbar-text text-muted">Photography by <strong>Madeline Wilson</strong></p>
	<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
	
</div>
</nav>

